<!-- Navbar -->
<!-- First Grid: Logo & About -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.bundle.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/authbutton.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
</script>
</head>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
                href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i>
                <a href="/" class="w3-bar-item w3-padding-small">
                    <img src="/images/image_logo.png" alt="logo" style="width:50px;height:50px;" title="qa logo" />
                </a>
            </a>
            <% if (title=="Home" ){ %>
                <a class="nav-item active"><i class="fa-duotone fa-house"></i>
                    <% } else { %>
                        <a class="nav-item"><i class="fa-duotone fa-house"></i>
                            <% } %>
                                <a href="/" class="w3-bar-item w3-button w3-hover-blue-grey w3-padding-large w3-hide-small">
                                    <i class="fa fa-home"></i>  &nbsp;  Home</a>
            <% if (title=="About Me" ){ %>
                <a class="nav-item active">
                    <% } else { %>
                        <a class="nav-item">
                            <% } %>
                                <a href="/about" class="w3-bar-item w3-button w3-hover-blue-violet w3-padding-large w3-hide-small">
                                    <i class="fa fa-address-card"></i>  &nbsp;   About Me</a>
            <% if (title=="Projects" ){ %>
                <a class="nav-item active">
                    <% } else { %>
                        <a class="nav-item">
                            <% } %>
                                <a href="/projects" class="w3-bar-item w3-button w3-hover-teal w3-padding-large w3-hide-small">
                                    <i class="fa fa-share-alt"></i>  &nbsp;  Projects</a>
            <% if (title=="Services" ){ %>
                <a class="nav-item active">
                    <% } else { %>
                        <a class="nav-item">
                            <% } %>
                                <a href="/services" class="w3-bar-item w3-button w3-hover-dark-grey w3-padding-large w3-hide-small">
                                    <i class="fa fa-cogs"></i>  &nbsp;  Services</a>
            <% if (title=="Contact Me" ){ %>
                <a class="nav-item active">
                    <% } else { %>
                        <a class="nav-item">
                            <% } %>
                                <a href="/contact" class="w3-bar-item w3-button w3-hover-brown w3-padding-large w3-hide-small">
                                    <i class="fa fa-address-book"></i>  &nbsp;  Contact Me</a>
 
                                    <div class="dropdown">
    <button class="dropbtn " onclick="myFunction()">
        <i class="fa fa-list"></i>  &nbsp;  Business Contacts List
    </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="/contacts/add">Add Contact</a>
            <a href="/contacts/list">View Contact List</a>
        </div>
    </div> 

        <% if (typeof username == 'string' && username) { %>
          <a href="/signout" class="w3-bar-item w3-button w3-hover-red w3-padding-large w3-hide-small" 
          onclick="return confirm('Are you sure?')">
            <i class="fa fa-sign-out"></i>  &nbsp;  Sign Out (<%= username %>)</a>
        <% } else { %>
          <a href="/login" class="w3-bar-item w3-button w3-hover-green w3-padding-large w3-hide-small">
            <i class="fa fa-user"></i>  &nbsp;  Login</a>
        <% } %>            
 
<!--     
            <% if (title=="Users" ){ %>
                <a class="nav-item active">
                    <% } else { %>
                        <a class="nav-item">
                            <% } %>
                                <a href="/users" class="w3-bar-item w3-button w3-hover-brown w3-padding-large w3-hide-small">
                                    <i class="fa fa-user"></i>  &nbsp;  User</a> -->