<% include partials/navigation.ejs %>

  <div class="w3-padding-64">
    <div class="w3-half w3-brown w3-container" style="height:100%; width:100%">
      <div class="w3-center">
        <h1>Projects</h1>
        <div class="w3-row-padding">
        </div>
        <div class="w3-center-align w3-padding-large">
          <p style="font-size: 23px; font-family: 'Times New Roman', serif;">
            &nbsp;Here are just some examples of my automation projects. Please take a look.</p>
        </div>

        <div class="w3-half">
          <div class="w3-display-container">
            <div class="w3-display-centralleft w3-black w3-padding">UI Demo</div>
            <video width="480" height="355" controls>
              <source src="images/ui_demo.mp4" type="video/mp4">
          </div>
        </div>
        <div class="w3-half">
          <div class="w3-display-container">
            <div class="w3-display-centralright w3-white w3-padding">Load Demo</div>
            <video width="480" height="355" controls>
              <source src="images/load_demo.mp4" type="video/mp4">
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include partials/footer.ejs %>